@using System.Collections
@using OneTech.Models
@model IEnumerable<OneTech.Models.Student>
@{
    ViewBag.Title = "View";
    var currentPara = "&start=" + ViewBag.Start + "&end=" + ViewBag.End;

}
@*<!--List of Class-->*@
<div class="row" id="accordion">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title accordion-toggle">List of Class<span id="accordionIcon">▼</span></h4>
                <section class="card-description">
                    @using (Html.BeginForm("Attendance", "Classes", FormMethod.Get))
                    {
                        @Html.DropDownList("listOfClassName", null, "-- Select Class --",new { @class = "form-control", onchange = "selectedClass(this)"})
                    }
                </section>
            </div>
        </div>
    </div>
    @*<!--End List of Class-->*@

    @*<!--Search-->*@
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title accordion-toggle">Advanced Search<span id="accordionIcon">▼</span></h4>
                <section class="card-description">
                    <p class="card-description d-sm-flex">
                        <span class="text-muted text-small my-auto">Search Class with filter</span>
                        <br class="d-sm-none" />
                        <button class="btn btn-sm btn-light ml-auto mr-2 mt-2 mt-sm-0" id="clearFilter">
                            Clear filter
                        </button>
                    </p>
                        @using (Html.BeginForm("Attendance", "Classes", FormMethod.Get,
                            new { role = "search", id = "AdvanceSearchFormAttendance" }))
                        {
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-lg-0">
                                    <label for="advanceFullname">
                                        <span class="text-small">Name</span>
                                    </label>
                                    <input id="advanceFullname" value="@ViewBag.advanceFullname" name="advanceFullname" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-lg-0">
                                    <label for="datefilter">
                                        <span class="text-small">Date filter</span>
                                    </label>
                                    <input type="text" name="datefilter" id="datefilter" value="" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3 text-right">
                                <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                            </div>
                        </div>
                    }
                <div class="row">
                    <div class="col-12 mt-3 text-left" id="update-classList">
                    </div>
                </div>
                </section>

            </div>
        </div>
    </div>
    @*<!--End of Search-->*@

    @*<!--List of Students-->*@
    <div class="col-12 grid-margin stretch-card">
        <div class="card" id="update-attendance">
            <div class="card-body table-responsive">
                <h4 class="card-title">Attendance</h4>
                <p class="card-description d-sm-flex">
                    <span class="text-muted text-small my-auto" id="className">@ViewBag.advanceFullname Attendance</span>
                    <br class="d-sm-none" />
                    <a class="btn btn-sm btn-primary ml-auto mr-2 mt-2 mt-sm-0" href="@Url.Action("Create", "Students")">
                        Create New Student <span class="mdi mdi-plus-circle"></span>
                    </a>
                </p>
                <table class="table">
                    <thead class="text-primary">
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th class="text-center d-none d-xl-table-cell">
                            @Html.DisplayNameFor(model => model.OwedCash)
                        </th>
                        <th class="text-center d-none d-xl-table-cell">
                            @Html.DisplayNameFor(model => model.OwedPushUp)
                        </th>
                        <th class="text-center d-none d-xl-table-cell">
                            @Html.DisplayNameFor(model => model.PenaltyLevel)
                        </th>
                        <th class="text-center d-none d-lg-table-cell">
                            Id
                        </th>
                        <th class="text-center d-none d-lg-table-cell">
                            Attendance
                        </th>
                        <th class="text-center d-none d-lg-table-cell">
                            Penalty
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {

                        <tr>
                            <td>
                                <b class="text-small">@(i + 1)</b>
                            </td>

                            <td>
                                <a class="badge w-100 @(Model.ElementAt(i).StudentStatus == Student.StudentStatusEnum.Active ? "badge-gradient-primary" : "badge-gradient-secondary")
                                            w-100" href="@Url.Action("Details", "Students", new {id = Model.ElementAt(i).Id})">
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).FullName)
                                </a>
                            </td>
                            <td class="text-center d-none d-xl-table-cell">
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).OwedCash)
                            </td>
                            <td class="text-center d-none d-xl-table-cell">
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).OwedPushUp)
                            </td>
                            <td class="text-center d-none d-xl-table-cell">
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).PenaltyLevel)
                            </td>
                            <td class="text-center d-none d-xl-table-cell">
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).Id)
                            </td>
                            <td>
                                <select name="penalty">
                                    <option value="0">On Time</option>
                                    <option value="1">Penalty</option>
                                </select>
                            </td>
                            <td>
                                <select name="penaltyType">
                                    <option value="0">Cash</option>
                                    <option value="1">Push up</option>
                                </select>
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
                <br/>
                <p class="card-description d-sm-flex">
                    <input class="btn btn-sm btn-primary ml-auto mr-2 mt-2 mt-sm-0" id="btnSave" type="button" value="Save" />
                </p>
                    
            </div>
        </div>
    </div>
    </div>
    @*<!--End List of Students-->*@

@section scripts{
    <script type="text/javascript">
        $(function() {
            // init start time and end time;
            var startDate = new Date();
            startDate.setFullYear(startDate.getFullYear() - 1);
            var endDate = new Date();

            // check start and end parameter
            const startPara = getParameterFromUrl('start');
            if (startPara != null) {
                startDate = new Date(startPara);
            }
            const endPara = getParameterFromUrl('end');
            if (endPara != null) {
                endDate = new Date(endPara);
            }


            // ReSharper disable once PossiblyUnassignedProperty
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: true,
                startDate: startDate,
                endDate: endDate,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            // ReSharper disable UnusedParameter

            $('input[name="datefilter"]').on('apply.daterangepicker',
                function(ev, picker) {
                    const start = picker.startDate.format('YYYY-MM-DD');
                    const end = picker.endDate.format('YYYY-MM-DD');
                    window.location.href = window.location.href.split('?')[0] + '?start=' + start + '&end=' + end;
                });

            $('input[name="datefilter"]').on('cancel.daterangepicker',
                function(ev, picker) {
                    // ReSharper restore UnusedParameter
                    $(this).val("");
                });

            function getParameterFromUrl(parameter) {
                const urlString = window.location.href;
                const url = new URL(urlString);
                return url.searchParams.get(parameter);
            }
        });

        function selectedClass(itemOption) {
            $.ajax({
                type: "GET",
                url: window.document.location.href = '/Classes/Attendance?className=' + itemOption.options[itemOption.selectedIndex].text,
                success: function(data) {
                    //$("#update-attendance").off('change', selectedClass);
                    $("#update-attendance").html(data);
                    //$("#update-attendance").on('change', selectedClass);
                }
            });

        }
        

        jQuery(document).ready(function($) {
            //Toggle Card
            $("#accordion").find(".accordion-toggle").next().removeAttr("style").hide();
            $("#accordion").find(".accordion-toggle").click(function() {
                $(this).next().slideToggle("fast");
                $(".accordion-content").not($(this).next()).slideUp("fast");
                if ($(this).find("span#accordionIcon").text() == "▼") {
                    $(this).find("span#accordionIcon").text("▲");
                } else {
                    $(this).find("span#accordionIcon").text("▼");
                }
            });
            //Clear Filter
            $("#clearFilter").click(function() {
                $("#advanceCheck").prop("checked", !1);
                $("#advanceCheckValue").val(0);
                $("input[name = 'advanceFullname']").val(null);
            });
            //
            $("#AdvanceSearchFormAttendance").on("submit",
                function(n) {
                    n.preventDefault();
                    var t = $("input[name = 'advanceFullname']").val();
                    $.ajax({
                        url: "/Classes/AjaxSearchClass",
                        type: "GET",
                        data: {
                            advanceName: t
                        },
                        success: function(n) {
                            $("#update-classList").html(n);
                        },
                        error: function(n, t, i) {
                            alert(n.status);
                            alert(i);
                        }
                    });
                    $("html, body").animate({
                            scrollTop: $("#goto").offset().top
                        },
                        1e3);
                });
            //Form Penalty
            
                $("#btnSave").click(function () {
                    var attendancelist = [];

                    //get cell values, instead of the header text.
                    $("table tr:not(:first)").each(function() {
                        var tdlist = $(this).find("td");
                        var Item = {
                            FullName: $(tdlist[1]).children().html(),
                            OwedCash: $(tdlist[2]).html(),
                            OwedPushUp: $(tdlist[3]).html(),
                            PenaltyLevel: $(tdlist[4]).html(),
                            Id: $(tdlist[5]).html(),
                            penalty: $(tdlist[6]).children().val(),
                            penaltyType: $(tdlist[7]).children().val()
                        };
                        attendancelist.push(Item);
                    });

                    $.ajax({
                        url: '@Url.Action("Penalty", "Classes")', 
                        dataType: "json",
                        data: JSON.stringify({ attendances: attendancelist }),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            result.forEach(e => alert(e.FullName+'bị phạt'));
                            console.log(result);
                        },
                        error: function (xhr) {
                            alert("error");
                        }
                    });
                });
        });
    </script>
}