@model OneTech.Models.Class
@{
    ViewBag.Title = "Detail";
    var i = 0;
}
<div class="row">
    <div class="col-lg-6 col-xl-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <b>Class # @Html.DisplayFor(model => model.Id)</b>
                </h5>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.Name): </b>
                    @Html.DisplayFor(model => model.Name)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.CreatedAt): </b>
                    @Html.DisplayFor(model => model.CreatedAt)
                </p>

                <div class="d-sm-flex mt-5">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-warning mr-3" })
                    <button type="button" class="btn btn-danger btn-sm mr-3" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>
                    <a class="btn btn-light btn-sm mt-2 mt-sm-0" href="@Url.Action("Index")">
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body table-responsive">
                <h4 class="card-title">Student</h4>
                <p class="card-description d-sm-flex">

                    <a class="btn btn-primary btn-sm mt-2 mt-sm-0 ml-auto" href="@Url.Action("Attendance", "Classes", new {id = Model.Id})">
                        Start Attendance
                    </a>
                </p>
                <table class="table" id="update-student">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Full Name
                            </th>
                            <th class="d-none d-xl-table-cell">
                                Student Code
                            </th>
                            <th class="text-center d-none d-xl-table-cell">
                                PenaltyLevel
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.StudentList)
                        {
                            i++;
                            <tr>
                                <td>
                                    @i
                                </td>

                                <td>
                                    @item.FullName
                                </td>
                                <td class="d-none d-xl-table-cell ">
                                    # SC @item.Id
                                </td>
                                <td class="text-center d-none d-xl-table-cell">
                                    @item.PenaltyLevel
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to completely delete this customer account?
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                @using (Html.BeginForm("Delete", "Classes", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>