@using OneTech.Models
@model OneTech.Models.Student

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-lg-6 col-xl-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-img-top text-center pt-3">
                <img class="border-primary" src="https://res.cloudinary.com/senbonzakura/image/upload/v1573316680/images/faces/avatar2_p9btpy.png"
                     style="max-width: 100%; max-height: 180px; padding: 4px; border: 2px solid; border-radius: 100%" alt="Avatar" />
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <b>Customer # @Html.DisplayFor(model => model.Id)</b>
                </h5>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.FullName): </b>
                    @Html.DisplayFor(model => model.FullName)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.StudentCode): </b>
                    @Html.DisplayFor(model => model.StudentCode)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.Class.Name): </b>
                    @Html.DisplayFor(model => model.Class.Name)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.Birthday): </b>
                    @Html.DisplayFor(model => model.Birthday)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.CreatedAt): </b>
                    @Html.DisplayFor(model => model.CreatedAt)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.UpdatedAt): </b>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.PenaltyLevel): </b>
                    @Html.DisplayFor(model => model.PenaltyLevel)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.OwedCash): </b>
                    @Html.DisplayFor(model => model.OwedCash)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.OwedPushUp): </b>
                    @Html.DisplayFor(model => model.OwedPushUp)
                </p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(model => model.StudentStatus): </b>
                    @Html.DisplayFor(model => model.StudentStatus)
                    <i class="mdi @(Model.StudentStatus == Student.StudentStatusEnum.Active ? "mdi-gender-male text-primary" : "mdi-gender-female text-danger")"></i>
                </p>

                <div class="d-sm-flex">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-warning mr-3" })
                    <button type="button" class="btn btn-danger btn-sm mr-3" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>
                    <a class="btn btn-light btn-sm mt-2 mt-sm-0" href="@Url.Action("Index")">
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to completely delete this customer account?
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                @using (Html.BeginForm("Delete", "Customers", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>