<!DOCTYPE html >
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FPT Aptech</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Content/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Content/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/Content/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/Content/assets/images/fpt-favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @Html.Partial("~/Views/Shared/_navbar.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @Html.Partial("~/Views/Shared/_sidebar.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                @Html.Partial("~/Views/Shared/_footer.cshtml")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Content/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/Content/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/Content/assets/js/off-canvas.js"></script>
    <script src="/Content/assets/js/hoverable-collapse.js"></script>
    <script src="/Content/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/Content/assets/js/dashboard.js"></script>
    <script src="/Content/assets/js/todolist.js"></script>
<!-- End custom js for this page -->
@RenderSection("Scripts",false)
</body>
</html>